<div id="createbookmarkmenuscontainer">
    <div>
        <a class="viewerBackLink hidden">
            <span class="fa fa-arrow-left createBookmarkMenuBtn"></span>
        </a>
        <div class="searchSidebarTopBtn">
            <button data-dojo-attach-point="cancelBookmarkBtn" type="button" class="btn btn-default createBookmarkMenuTopRightButton noActive">Cancel</button>
            <button data-dojo-attach-point="sideBarLinkClose" type="button" class="btn btn-danger createBookmarkMenuTopRightButton"><span class="fa fa-times"></span></button>
        </div>
        <h2 data-dojo-attach-point="createBookmarkMenuTitle">Create Bookmark</h2>
    </div>

    <div data-dojo-attach-point="bookmarkDetailsDiv">
    </div>

    <div data-dojo-attach-point="addGraphicDiv">
    </div>
</div>
