<div>
    <div class="media newBookmarkShapeMedia">
        <div class="media-left media-middle">
            <div class="createBookmarkGraphicListItemIconContainer">
                <div>
                    <span data-dojo-attach-point="icon" class="fa createBookmarkGraphicListItemIcon">
                    </span>
                </div>
                <div class="caption">
                    <p data-dojo-attach-point="iconLabel" class="createBookmarkGraphicListItemIconContainerP">Point</p>
                </div>
            </div>
        </div>
        <div class="media-body newBookmarkShapeMediaBody">
            <span class="media-heading newBookmarkShapeMediaHeading">
                <span data-dojo-attach-point="title">Point 1</span>
                <button data-dojo-attach-point="removeGraphicButton" class="btn btn-link bookmarkCreationGraphicListItemRemoveGraphicButton">remove</button>
            </span>
            <div data-dojo-attach-point="description">A cool point</div>
        </div>
    </div>
</div>
