<li data-dojo-attach-point="bookmarkContainer" class="bookmark-list-item">
    <a data-bookmark-id="${bookmark.id}">
        <img class="sidenav-gallery-item-thumb" src="${bookmark.thumbnailImage}">
        <div class="sidenav-gallery-item-label-container bookmark-item-container">
            <h6 alt="${bookmark.name}" title="${bookmark.name}">${bookmark.name}</h6>
            <p>${bookmark.description}</p>
        </div>
        <i class="fa fa-chevron-circle-right bookmark-indicator"></i>
    </a>
</li>
