<div class="color-legend-container">
    <div class="color-legend-box" data-dojo-attach-point="colorLegendBox">
		<div class="color-legend-range" data-dojo-attach-point="colorLegendRange"><span style="float: left" data-dojo-attach-point="colorLegendRangeLow"></span><span style="float: right" data-dojo-attach-point="colorLegendRangeHigh"></span></div>
		<div class="color-legend-canvas" data-dojo-attach-point="colorLegendCanvas"></div>
		<div class="color-legend-interval" data-dojo-attach-point="colorLegendInterval"><div class="color-legend-interval-slider" data-dojo-attach-point="colorLegendIntervalSlider"></div></div>
		<div class="color-legend-slider-box" data-dojo-attach-point="colorLegendSliderBox">
    	<div class="color-legend-slider" data-dojo-attach-point="sliderStart"></div>
    	<div class="color-legend-slider" data-dojo-attach-point="sliderEnd"></div>
    </div>
	</div>
</div>