<div class="tourInfoWindow">
<div id="test" class="esriPopup fade top" data-dojo-attach-point='windowNode'>
    <div class="esriPopupWrapper">
        <div class="sizer" style="width: 400px;">
            <div class="titlePane" style="-webkit-user-select: none;">
                <div class="title" data-dojo-attach-point='titleNode'></div>
                <div class="titleButton maximize" title="Maximize"></div>
                <div class="titleButton close" data-dojo-attach-event='onclick: close' title="Close"></div>
            </div>
        </div>
        <div class="sizer content" style="width: 400px;">
            <div data-dojo-attach-point="contentNode" class="contentPane"></div>
        </div>
    </div>
</div>
</div>

