<div class="media list-group-item activeLayerListMediaItem dojoDndItem dojoDndHandle" data-dojo-attach-point="productLabelHiddenDiv" data-productlabel="">
    <!--<div style="display:none;" data-dojo-attach-point="productLabelHiddenDiv" data-value=""></div>-->
    <div class="media-left">
        <img class="media-object mediaItemImgAutoLayer" src="" alt="layer icon" data-dojo-attach-point="img">
    </div>
    <div class="media-body layerItemMediaBody">
        <h6 class="media-heading" data-dojo-attach-point="layerTitle"></h6>
        <!--<div data-dojo-attach-point="layerDescription">-->
        <!--</div>-->
        <div class="iconDiv">
            <div class="mediaItemIconList">
                <span><span data-dojo-attach-point="toggleVisibilityBtn" class="fa fa-eye mediaItemIconAutoLayer" aria-hidden="true" alt="Toggle Visibility"></span></span>
                <span data-dojo-attach-point="informationBtn" class="fa fa-info-circle mediaItemIconAutoLayer" aria-hidden="true" alt="Show Information"></span>
                <span data-dojo-attach-point="flyToBtn" class="fa fa-crosshairs mediaItemIconAutoLayer hidden" aria-hidden="true" alt="Fly To Position"></span>
                <span data-dojo-attach-point="legendBtn" class="fa fa-list-alt mediaItemIconSizeToFitAutoLayer" aria-hidden="true" alt="Toggle Legend"></span>
                <span data-dojo-attach-point="metadataBtn" class="fa fa-file-text-o mediaItemIconSizeToFitAutoLayer" aria-hidden="true" alt="Open Metadata"></span>
                <span data-dojo-attach-point="downloadBtn" class="fa fa-download mediaItemIconSizeToFitAutoLayer" aria-hidden="true" alt="Download Data"></span>
            </div>
        </div>

        <div class="layerSliderHolder">
            <div class="layer-slider-container" data-dojo-attach-point="sliderContainer"></div>
        </div>

        <div class="hidden">
            <span data-dojo-attach-point="showMoreBtn" class="fa fa-caret-down mediaItemIcon" aria-hidden="true"></span>
        </div>

        <div data-dojo-attach-point="myLayerControlsContainer" class="myLayerControls" style="display:none;">

            <div data-dojo-attach-point="legendContainer" class="hidden" style="margin-top: 20px;">
                <img data-dojo-attach-point="legendImage" />
            </div>

            <div data-dojo-attach-point="colorLegendControlContainer"></div>
            <br>

        </div>
    </div>
    <!--
<div class="dojoDndItem dojoDndHandle myLayerContainer" data-dojo-attach-point="myLayerContainer" style="">

    <div class="controlHeader">
        <div style="float:left;">
            <span id="btnMyLayerCollapse" data-dojo-attach-point="btnMyLayerCollapse" class="fa fa-caret-right" alt="Expand/Collapse Layer" title="Expand/Collapse Layer"></span>
            <img data-dojo-attach-point="myLayerThumbnail" class="myLayerThumbnail" width="22" height="22">
        </div>

        <div class="myLayerHeaderButtonGroup">
            <a rel="tooltip" data-content="Toggle Visibility" alt="Toggle Visibility" data-placement="left" class="myLayerButtonLink">
                <span data-dojo-attach-point="myLayerToggleBox" class="fa fa-eye"></span>
            </a>
            <a rel="tooltip" data-content="Layer Information" alt="Layer Information" data-placement="left" class="myLayerButtonLink">
                <span data-dojo-attach-point="btnLayerInfo" class="fa fa-info-circle"></span>
            </a>
            <a rel="tooltip" data-content="Remove Layer" alt="Remove Layer" data-placement="left" class="myLayerButtonLink">
                <span data-dojo-attach-point="btnRemoveLayer" class="fa fa-times-circle"></span>
            </a>
            <a rel="tooltip" data-content="Toggle Labels" alt="Toggle Labels" data-placement="left" class="myLayerButtonLink">
                <span data-dojo-attach-point="btnMyLayerLabelsToggleBox" class="fa fa-font"></span>
            </a>


        </div>

         <div>
             <span class="myLayerTitle" data-dojo-attach-point="myLayerTitle">Unknown Layer</span>
             <span style="white-space:nowrap;" class="myLayerSubtitle" data-dojo-attach-point="myLayerSubtitle"></span>
        </div>
    </div>

    <div data-dojo-attach-point="myLayerControlsContainer" class="myLayerControls" style="display:none;">
        <div class="layerControlsButtonContainer">
            <div data-dojo-attach-point="flyToLayerBtnContainer">
                <a rel="tooltip" data-content="Zoom to Layer" alt="Zoom to Layer" data-placement="left" data-dojo-attach-point="flyToLayerBtn" class="myLayerButtonLink" style="line-height: 0.5em;margin: 0;padding: 0;">
                    <span class="bookmark-control fa-stack fa-lg" style="top:-8px;width:20px;height:20px;">
                        <i class="fa fa-circle fa-stack-1x"></i>
                        <i class="fa fa-crosshairs fa-stack-1x" style="color: #333;font-size: 0.70em;width:20px;height:20px;"></i>
                    </span>
                </a>
            </div>

            <label data-dojo-attach-point="viewLegendLabel" style="font-size: 0.9em;font-weight: normal;padding-left: 4px; cursor: pointer;" class="hidden">
            <input type="checkbox" data-dojo-attach-point="viewLegendBtn" class="hidden" />
                Legend
            </label>
        </div>

        <div class="layer-slider-container" data-dojo-attach-point="sliderContainer"></div>

        <div data-dojo-attach-point="legendContainer" class="hidden" style="margin-top: 20px;">
            <img data-dojo-attach-point="legendImage" />
        </div>

        <div data-dojo-attach-point="colorLegendControlContainer"></div>

        <br>
    </div>
</div>
-->
</div>
