<div class="menu push-menu-menu">
    <div id="menuscontainer" class="menuSidebarContainer">

        <div class="menuSideBarTitleDiv">
            <div id="navbarNasaJplLogo" class="menuSidebarTopLeftLogo" alt="NASA/Jet Propulsion Laboratory Logo" title="NASA/Jet Propulsion Laboratory"></div>
            <div class="menuSidebarTopBtn">
                <button data-dojo-attach-point="sideBarLinkBack" type="button" class="btn btn-default invisible viewerTopRightButton"><span class="fa fa-arrow-left"></span></button>
                <button data-dojo-attach-point="sideBarLinkClose" type="button" class="btn btn-danger viewerTopRightButton"><span class="fa fa-times"></span></button>
            </div>
            <h2 data-dojo-attach-point="sideBarTitle" class="menuSidebarTitle"></h2>

            <!--
            <div>
                <a class="invisible">
                    <span class="fa fa-arrow-left"></span>
                </a>
            </div>
            <div class="menuSidebarTitle"><div id="navbarNasaJplLogo" alt="NASA/Jet Propulsion Laboratory Logo" title="NASA/Jet Propulsion Laboratory"></div><h1 class="menuSidebarH1" data-dojo-attach-point="sideBarTitle">Lunar Trek</h1></div>
            <div style="display:flex">
                <button data-dojo-attach-point="sideBarLinkBack" type="button" class="btn btn-default menuSidebarTopBtn menuSidebarTopBackBtn invisible"><span class="fa fa-arrow-left"></span></button>
                <button data-dojo-attach-point="sideBarLinkClose" type="button" class="btn btn-danger menuSidebarTopBtn"><span class="fa fa-times"></span></button>
            </div>
            -->
        </div>

        <div data-dojo-attach-point="menuContainer" class="menuContainer">
            <div class="list-group">
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="annotateLink">Annotate</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="createBookmark">Generate Bookmarks</button>
            </div>

            <div class="list-group">
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="aboutLink">About</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="contactLink">Feedback/Contact</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="creditsLink">Credits</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="relatedLink">Related Links</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="releaseLink">Release Notes</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="requirementsLink">System Requirements</button>
                <button type="button" class="list-group-item menuSidebarButton" data-dojo-attach-point="helpLink">Help</button>
            </div>

            <div id="loginPanel" class="panel panel-default menuSidebarloginPanel" data-dojo-attach-point="loginPanel">
                <div class="panel-body menuSidebarloginPanel">
                    <button id="loginBtn" type="button" class="btn btn-success menuSidebarLoginPanel" data-dojo-attach-point="loginBtn">Sign in</button>
                </div>
            </div>
        </div>

        <div data-dojo-attach-point="aboutContainer" class="hidden">
        </div>

        <div data-dojo-attach-point="contactContainer" class="hidden">
        </div>

        <div data-dojo-attach-point="creditsContainer" class="hidden">
        </div>

        <div data-dojo-attach-point="relatedContainer" class="hidden">
        </div>

        <div data-dojo-attach-point="releaseContainer" class="hidden">
        </div>

        <div data-dojo-attach-point="requirementsContainer" class="hidden">
        </div>



    </div>
</div>
