<div>
  <div data-dojo-attach-point="scaleBarModal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Scale Bar Units</h4>
        </div>
        <div class="modal-body" style="font-size:1.1em;">
          <div data-dojo-attach-point="scaleBarModalListGroup" class="list-group scaleBarModalListGroup"></div>
          <div class="modal-footer" style="padding:5px;text-align:center;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="cursor:pointer;">Cancel</button>
            <button data-dojo-attach-point="scaleBarModalOkButton" type="button" class="btn btn-primary" data-dismiss="modal" style="cursor:pointer;">OK</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>