<div>
    <div id="cubeCarousel">
        <div id="cubeSpinner">
            <div class="face one" style="opacity:0;">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="southPoleMapContainer"></div>
            </div>
            <div class="face two">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="mapContainer"></div>
            </div>
            <div class="face three" style="opacity:0;">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="northPoleMapContainer"></div>
            </div>
        </div>
    </div>

</div>