<div id="shareModalContainer" data-dojo-attach-point="shareModalContainer" class="modal fade" role="dialog" aria-visible="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-visible="true">&times;</span>
                </button>
                <h4 class="modal-title">Share</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" data-dojo-attach-point="shareModalDialogPermalinkInputBox">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
