<li data-dojo-attach-point="slideshowContainer" class="slideshow-list-item">
  <a data-slideshow-id="${slideShowId}">
      <img class="slideshow-gallery-collection-item-thumb" src="${mainImageUrl}">
      <div class="slideshow-gallery-collection-item-label-container">
          <h6 class="slideshow-item-title" alt="${title}" title="${title}">${title}</h6>
          <p>${shortenedDescription}</p>
      </div>
      <div data-dojo-attach-point="badgeIndicator">
        <i class="fa fa-play-circle slideshow-gallery-indicator"></i>
      </div>
  </a>
</li>
