<div>
    <div id="slideshowViewer" data-dojo-attach-point="slideshowViewer">
        <div class="slideshowViewerContent">
            <div class="flexDiv">
                <a data-dojo-attach-point="backButton" class="viewerBackLink" data-placement="left">
                    <span id="bookmarkViewerBackButton" class="fa fa-arrow-left searchSideBarBtn"></span>
                </a>
                <h2 data-dojo-attach-point="slideshowTitle"></h2>
            </div>
            <div data-dojo-attach-point="slideshowContent">
                <div id="slholder">
                </div>
            </div>
        </div>
    </div>
</div>