<div id="sltop" data-dojo-attach-point="sltop" class="slideshow topcontainer">

  <div class="slideshow container" id="paneContainer" data-dojo-attach-point="paneContainer">
    <div id="rotatorContainer" class="slideshow rotatorContainer" style="width: 100%; height: 100%"  data-dojo-attach-point="rotatorContainer">
      <div class="slideshow rotator" id="myAutoRotator2" data-dojo-attach-point="myAutoRotator2"></div>

      <img class="slideshow container limg" id="lefticon" src="jpl/assets/images/slideshows/Left_navy.png" style="width:25px; height:25px; opacity: 1.0" onclick="dojo.publish('myAutoRotator2/rotator/control', ['prev'])">
    
      <img class="slideshow container rimg" id="righticon" src="jpl/assets/images/slideshows/Right_navy.png" style="width:25px; height=25px; opacity: 1.0" onclick="dojo.publish('myAutoRotator2/rotator/control', ['next'])">
    </div>
    
  </div>

  <div class="slideshow container">
    <div style="float: left" id="ctrl" data-dojo-attach-point="ctrl" class="slideshow ccontainer">
      <div class="slideshow ldiv">
        <div id="pauseb" class="slideshow stopstart"></div>
        <div id="dotdiv" class="slideshow dots"></div>
      </div>
      <div style="float: right" id="fullscreen" class="slideshow rdiv">
        <a href="javascript:void(0)"; id="fscreen" title="extend"><img id="iscreen" src="jpl/assets/images/slideshows/extend_black.png" style="width:25px; height:25px; opacity: 0.7; border-color: white; border-style: solid; border-width:2px;"></a>
      </div>
    </div>
  </div>

  <div class="slideshow bcontainer">
    <label id="sltitle" class="slideshow sltitle"></label>
  </div>

  <div class="slideshow bcontainer">
    <label id="sldesc" class="slideshow sldesc"></label>
  </div>

</div>
