<div class="media list-group-item activeLayerListMediaItem staticLayerItemMedia">
    <div class="media-body">
        <div class="staticLayerItemToggleBtnDiv">
            <span>
                <span data-dojo-attach-point="toggleVisibilityBtn" class="fa fa-eye mediaItemIcon" aria-hidden="true" alt="Toggle Visibility"></span>
                <span data-dojo-attach-point="informationBtn" class="fa fa-info-circle mediaItemIcon hidden" aria-hidden="true" alt="Show Information"></span>
                <span data-dojo-attach-point="legendBtn" class="fa fa-list-alt mediaItemIcon hidden" aria-hidden="true" alt="Toggle Legend"></span>
            </span>
            <span class="staticLayerTitle" data-dojo-attach-point="layerTitle"></span>
        </div>
        <div class="staticLayerLegendContainer hidden" data-dojo-attach-point="legendContainer" style="height:0;">
            <a href="" target="_blank" data-dojo-attach-point="legendImageLink"><img data-dojo-attach-point="legendImage" style="max-width:100%;"/></a>
        </div>
    </div>
</div>
