<div>
    <li class="list-group-item searchResultField treeLeafItem">
        <div class="media">
            <div class="media-left">
                <a>
                    <img class="media-object layerListMediaImg" data-dojo-attach-point="img" style="width:100px;height:100px;" src="">
                    <span class="explorerItemImage hidden" data-dojo-attach-point="imageIcon"></span>
                </a>
            </div>
            <div class="media-body searchResultFieldDescription">
                <div style="display:flex">
                    <input data-dojo-attach-point="checkbox" type="checkbox">&nbsp;
                    <h4 class="media-heading" data-dojo-attach-point="title"></h4>
                </div>
                <span data-dojo-attach-point="description"></span>
            </div>
        </div>
    </li>
</div>
