<div>
    <div>
        <span data-dojo-attach-point="openContentsBtn" class="fa fa-caret-square-o-right"></span>
        <span data-dojo-attach-point="closeContentsBtn" class="fa fa-caret-square-o-down hidden"></span>
        <input data-dojo-attach-point="checkbox" type="checkbox">
        <span data-dojo-attach-point="title"></span>
        <span data-dojo-attach-point="clickableTitle" class="hidden" style="text-decoration: underline;"></span>
    </div>
    <div data-dojo-attach-point="sliderContainerDiv" class="layerSliderHolder hidden" style="width:50%;">
        <div class="layer-slider-container" data-dojo-attach-point="sliderContainer"></div>
    </div>
    <div data-dojo-attach-point="content" style="padding-left:20px;" class="hidden">
    </div>
</div>
