.ssViewerContent{
    padding-left:10px;
    padding-right:10px;
}

.slideshowListItem{
    font-size: medium;
}

.slideshowListItem:hover{
    background: #e6e6e6;
    cursor: pointer;
}

.slideshowListItemThumbnail{
    width: 160px;
    height: 160px;
    object-fit: cover;
}